<div class="login-container">
  <img class="login-img" src="images/pexels-photo-317377.jpeg" alt="">
  <div class="login-info">
    <h3>Log in</h3>

    <form action="/login" method="post">
      <label for="username">Username</label>
      <input type="text" name="username">

      <label for="password">Password</label>
      <input type="password" name="password">

      <button>Log in</button>

      <p>or Facebook/Google login?</p>
      <a href="/facebook">Login via Facebook</a>
      <a href="/google">Login via Google</a>

      <p>Don't have an account yet?
        <a href="/signup">Sign up</a>
      </p>
    </form>
    {{#if errorMessage}}
    {{errorMessage}}
    {{/if}}
  </div>
</div>