<div class="login-container">
  <img class="login-img" src="images/pexels-photo-317377.jpeg" alt="">
  <div class="login-info">
    <h3>sign up</h3>

    <form action="/signup" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" required="required">
      <label for="password">Password</label>
      <input type="password" name="password" required="required" minlength="6">

      <button type="submit">Sign up</button>


      <p>or Facebook/Google login</p>
      <a href="/facebook">Login via Facebook</a>
      <a href="/google">Login via Google</a>

      <p>If you already have an account →
        <a href="/login">Login</a>
      </p>
    </form>

    {{#if errorMessage}}
    {{errorMessage}}
    {{/if}}
  </div>
</div>