<h2>{{venue.name}}</h2>
<p><img src={{venue.image_url}} alt="image" style="width:400px;height:400px;"></p>
<p>Address: {{venue.location.display_address}}</p>
<p>Price: {{venue.price}}</p>
<p>Have you been there recently? Give your feedback about the Wifi!</p>
<p></p>
<input class="addComment" type="text" name="comment" placeholder="write a review">
<button type="submit">Add Comment</button>