{{#if user}}
{{!-- <form action="/"> --}}
<input type="text" name="search" placeholder="search a cafe">
{{!-- <input type="submit" value="submit"> --}}
<button>Submit</button>
{{!-- </form> --}}
<a href="/logout">Log out</a>
{{else}}
<div class="auth-container">
  <img src="images/pexels-photo-317377.jpeg" alt="">
  <div class="auth">
    <a href="/signup">Sign up</a>

    <a href="/login">Log in</a>

    <a href="/facebook">Login via Facebook</a>

    <a href="/auth/google">Login via Google</a>
  </div>
</div>
{{/if}}