<div class="auth-container">
  <img class="auth-img" src="images/pexels-photo-317377.jpeg" alt="">
  <div class="auth">
    <a href="/signup">Sign up </a>

    <a href="/login">Log in </a>

    <a href="/facebook">Login via Facebook </a>

    {{!-- <a href="/auth/google">Login via Google </a> --}}
  </div>
</div>