<input type="text" name="search" placeholder="search a cafe">
{{!-- <input type="submit" value="submit"> --}}
<button>Submit</button>
{{!-- </form> --}}
<a href="/logout">Log out</a>

<h1>hello</h1>


<div id='map' style='width: 800px; height: 500px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2Fla2ExMTExIiwiYSI6ImNrNmhxcXZzeTB6MHUzbm1sZGg4dmd4NTcifQ.n75w0QK5TPx_Qrdq3zeyQA';
  let bounds = [


    [13.139061, 52.641301],
    [13.540680, 52.644740]

  ];
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/saeka1111/ck6hr1os501r51io2lx2h2h2g',
    center: [13.404019, 52.519083],
    zoom: 13,



  });
</script>